.intro{
    display: table;
    background: url('https://images.pexels.com/photos/8756/pexels-photo.jpg?cs=srgb&dl=abstract-art-black-8756.jpg&fm=jpg') center center no-repeat;
    background: #990000;
}